<% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>



  <body>
    <h1> Books </h1>
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <tbody>
        <% @books.each do |book| %>
       <tr>

         <td><span><%= book.title %></span></td>
         <td><span><%= book.body %></span></td>



         <td><a><%= link_to "Show",book_path(book.id) %></a></td>
         <td><a><%= link_to "Edit",edit_book_path(book.id) %></a></td>
         <td><a><%= link_to "Destroy",book_path(book.id),method: :delete,"data-confirm" => "Are you sure?" %></a></td>

       </tr>
        <% end %>

      </tbody>
    </table>



<!--ーーーーーーーーーここまでーーーーーーーーーーーーーー-->


<h2>New book</h2>

<% if @book.errors.any? %>
 <%= @book.errors.count %>errors prohibited this book from being saved:
 <ul>
   <% @book.errors.full_messages.each do |message| %>
   <li><%= message %></li>
   <% end %>
 </ul>
<% end %>


<%= form_with model:@book,url:'/books',method: :post do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>

  <h4>Body</h4>
  <%= f.text_area :body %>
 <br>
  <%= f.submit 'Create Book' %>
<% end %>
</body>
