 <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: name %>
    <% end %>


<h5>Title:</h5>
<p><%= @book.title %></p>

<h5>Body:</h5>
<p><%= @book.body %></p>


<%= link_to "Edit",edit_book_path %>|<%= link_to "Back",books_path %>

